aiogram
asyncpg
chrono
connectorx
git+https://github.com/aRxT6wdZdNfmyZKYy21n/finplot.git
httpx
lz4
numpy
orjson
pandas
polars
polars_talib
psutil
pyarrow
pydantic
pydantic-settings
PyQt6
pyqtgraph
qasync
redis[hiredis]
SQLAlchemy[asyncio]
TA-Lib
websockets
